.information{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  }
  .information .quit:hover{
    background: rgba(0,165,0,.75);
    }
  .information .quit:hover:after{
    border-color:  rgba(0,165,0,.75) transparent transparent;
    }
  .information .quit{
    display: block;
    font-size: 0;
    color:#fff;
    white-space: nowrap;
    height: 44px;
    position: fixed;
    top: 20px;
    background: rgba(0,154,172,.75);
    text-align: center;
    right: 20px;
    white-space: nowrap;
    font:14px/44px serif;
    padding:0 20px;
    text-decoration: none;
    }
    .information .quit:after{
      content:".";
      font-size: 0;
      line-height: 0;
      height: 0;
      width: 0;
      display: block;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 10px;
      border-style:solid;
      border-width: 10px 10px 0 0;
      border-color:  rgba(0,154,172,.75) transparent transparent;
      }
  .information .player{
    display: none;
    }
  .information .player.selected{
    display: block;
    }
  .information .player{
    position: fixed;
    top: 20px;
    left: 20px;
    }