body,
html{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
  }

.game{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  }

.loading-screen{
  display: block;
  }

.start-screen,
.game,
#templates,
.win-screen,
.standoff{
  display: none;
  }

body>.board-front{
  width: 750px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;

  margin: 0 0 0 -375px;

  background: url('../img/front.jpg') repeat;

  -webkit-transform-origin: 50% 0 0;
  -moz-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;

  -webkit-transform: rotateX(30deg) translateY(375px) rotateX(-90deg) scale(.75) scaleZ(.75) translateZ(-175px);
  -moz-transform: rotateX(30deg) translateY(375px) rotateX(-90deg) scale(.75) scaleZ(.75) translateZ(-175px);
  transform: rotateX(30deg) translateY(375px) rotateX(-90deg) scale(.75) scaleZ(.75) translateZ(-175px);

  -webkit-background-size: auto 100%;
       -o-background-size: auto 100%;
          background-size: auto 100%;
  }
.field.played{
  -webkit-transition: -webkit-transform .4s ease;
     -moz-transition: -moz-transform .4s ease;
      -ms-transition: -ms-transform .4s ease;
          transition: transform .4s ease;

  -webkit-transform: rotateX(0) scale(.7) scaleZ(.7) translateZ(-150px);
  -moz-transform: rotateX(0) scale(.7) scaleZ(.7) translateZ(-150px);
  transform: rotateX(0) scale(.70) scaleZ(.7) translateZ(-150px);
  }

.field{
  height: 750px;
  width: 750px;
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  bottom:0;

  margin: auto;

  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform: rotateX(30deg) scale(.75) scaleZ(.75) translateY(-50px);
  -moz-transform: rotateX(30deg) scale(.75) scaleZ(.75)  translateY(-50px);
  transform: rotateX(30deg) scale(.75) scaleZ(.75)  translateY(-50px);


  }