.user-creation-screen{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background:url('../img/boke.jpg') 50% 50% repeat;
  }
.user-creation-screen .player{
  width: 255px;
  }
.user-creation-screen .wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 220px;
  padding: 20px;
  background: rgba(255,255,255,.95);
  text-align: center;
  font-size: 0;
  }
.user-creation-screen .wrapper>nav{
  width: 530px;
  margin: 0 auto;
  float: none;
  display: block;
  overflow: hidden;
  z-index: 3;
  }
  .user-creation-screen .wrapper>nav a{
  float: left;
  clear: both;
  height: 44px;
  margin: 0 1px 20px 0;
  border-style:none;
  font:14px/44px serif;
  vertical-align: middle;
  display: block;
  background-color: rgba(0,154,172,.75);
  color:#fff;
  text-decoration: none;
  padding:0 20px;
  position: relative;
  cursor: pointer;
  }
  .user-creation-screen .wrapper nav a:hover{
    background:rgba(0,160,0,.75);
    }
  .user-creation-screen .wrapper nav a.confirm{
    display: none;
    clear: none;
    }
.user-creation-screen input{
    outline:none;
    padding: 0;
    border-style:none;
    margin: 0;
    background: none;
    height: 44px;
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    overflow: hidden;
    font:24px/44px serif;
    }
.user-creation-screen label{
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
    -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    overflow: hidden;
    font:24px/44px serif;
    }
  .user-creation-screen a.avatar:hover,
  .user-creation-screen a.avatar:focus{
    opacity: .5;
    }
  .user-creation-screen a.avatar{
    outline:none;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    margin: 0 5px 0 0;
    width: 22px;
    height: 22px;
    background: url('../img/avatars.png') -115px -46px no-repeat;
    -webkit-background-size: 230px auto;
         -o-background-size: 230px auto;
            background-size: 230px auto;
    }
  .user-creation-screen button:focus,
  .user-creation-screen button:hover{
    background-color: rgba(0,160,0,.75);
    }
    .user-creation-screen button:focus:after,
    .user-creation-screen button:hover:after{
      border-color:  rgba(0,160,0,.75) transparent transparent;
      }
  .user-creation-screen button{
    outline:none;
    height: 44px;
    margin: 0;
    border-style:none;
    font:14px/44px serif;
    vertical-align: middle;
    display: block;
    background-color: rgba(0,154,172,.75);
    color:#fff;
    margin-left: 1px;
    text-decoration: none;
    padding:0 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    }
    .user-creation-screen button:after{
      content:".";
      font-size: 0;
      line-height: 0;
      height: 0;
      width: 0;
      display: block;
      overflow: hidden;
      position: absolute;
      top: 100%;
      left: 10px;
      border-style:solid;
      border-width: 10px 10px 0 0;
      border-color:  rgba(0,154,172,.75) transparent transparent;
      }
  .user-creation-screen .about{
    font:14px/20px serif;
    }
    .user-creation-screen .player-1 .details{
      background-color: rgba(255,0,0,.75);
      }
  .user-creation-screen .player-2{
    margin:0 0 10px 10px;
    }
  .user-creation-screen .first-user{
    display: inline-block;
    vertical-align: top;
    padding: 44px 0 0;
    width: 255px;
    margin:0 10px 0 0;
    z-index: 3;
    position: relative;
    font-size: 12px;
    text-align: left;
    }
  .user-creation-screen .second-user{
    font-size: 12px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    position: relative;
    padding: 44px 0 0;
    margin:0 0 0 10px;
    width: 255px;
    z-index: 3;
    }
  .user-creation-screen .online-player{
    font-size: 12px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    position: relative;
    padding: 44px 0 0;
    margin:0;
    width: 255px;
    z-index: 3;
    }
  .user-creation-screen .player .remove{
    display: inline-block;
    }
